@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, *::before, *::after{
	font-family: 'Roboto', sans-serif;
	box-sizing:border-box;
}

body{
	margin:0;
}
li,ul{
	list-style:none;
}
a{
	text-decoration:none;
	color:#111;
}
.video-section{
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
	gap:20px 12px;
	padding:40px 0;
	margin:0 14px;
	border-top:4px solid #B1B1B1;
}
.video-section:first-child{
	border-top:none;
}
.video-container{
	display:flex;
	flex-direction:column;
}
.tumbnail{
	position:relative;
	display:flex;
}
.tumbnail::before{
	content:attr(data-duration);
	background:rgba(0,0,0,.9);
	color:#fff;
	padding:3px 4px;
	position:absolute;
	right:5px;
	bottom:5px;
	border-radius:2px;
	font-size:11px;
}
.thumbnail-img{
	width:100%;
	height:100%;
	min-width:250px;
	min-height:150px;
	background-color:#9D9D9D;
}
.channel-icon{
	background-color:#aaa;
	border-radius:50%;
	margin-right:15px;
	width:36px;
	height:36px;
	display:block;
}
.video-bottom-section{
	margin-top:14px;
	display:flex;
	align-items:flex-start;
	
}

.video-details{
	display:flex;
	flex-direction:column;
}
.video-title{
	color:#000;
	font-weight:500;
	margin-bottom:6px;
	font-size:15.5px;
}
.channel-name, .video-meta-data{
	color:#6C6C6C;
	margin-bottom:2px;
	font-size:14.5px;
	cursor:pointer;
	transition:.3s;
}
.channel-name:hover{
	color:#111;
}
.section-title{
	grid-column:1 / -1;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:-30px;
}
.section-title button{
	margin:0;
	background:none;
	border:0;
	padding:0;
	font-size:40px;
	color:#6C6C6C;
	transition:.3s;
	cursor:pointer;
}
.section-title button:hover{
	color:#111;
}
.videos{
	background-color:#F9f9f9;
}

.categories{
	padding:17px 27px;
	border-top:1px solid #C1C1C1;
	border-bottom:1px solid #929292;
}
.category-section{
	display:flex;
	overflow:hidden;
}

.category{
	word-wrap:none;
	white-space:pre;
	margin-right:10px;
	border:1px solid #CACACA;
	background:#EDEDED;
	border-radius:20px;
	padding:6px 10px;
	transition:.3s;
	font-size:15px;
	cursor:pointer;
}
.category:hover{
	background:#DFDFDF;
}
.active{
	background-color:#6C6C6C;
	color:#fff;
	border:1px solid #6C6C6C;
}
.active:hover{
	background-color:#959595;
}
.category:last-child{
	margin-right:0;
}
header{
	display:flex;
	align-items:center;
	padding:10px;
	justify-content:space-between;
}
.menu-logo{
	display:flex;
	align-items:center;
}
.y-logo{
	height:39px;;
}
.menu{
	height:25px;
	margin-right:25px;
	margin-left:11px;
}
.search{
	display:flex;
	flex:1;
	margin-left:10%;
	margin-right:8%;
}
.search input{
	width:100%;
	font-size:inherit;
	border:1px solid #D1D1D1;
	padding:5px;
	margin:0;
	
}

.search-icon{
	margin:0;
	padding:0 16px;
	background:#F9F9F9;
	display:flex;
	align-items:center;
	border:1px solid #D1D1D1;
	border-left:none;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	transition:.3s;
}
.search-icon:hover{
	background:#EFEFEF;
}
.menu-icon{
	display:grid;
	gap:22px;
	grid-template-columns:repeat(4, auto);
	align-items:center;
}
.profile-pic{
	border-radius:50%;
	width:36px;
	height:36px;
	background-color:#AEAEAE;
}
















































